body {
    font-family: Arial, sans-serif;
    background-color: #7C7C8A;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    background-color: #000;
    padding: 20px;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.header h1 {
    font-size: 36px;
    color: #FFF;
    margin: 0;
}

.header p {
    font-size: 18px;
    color: #FFF;
    margin-top: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 30px;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}

.feature {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.feature img {
    max-width: 35%;
    max-height: 35%;
    margin-right: 40px;
}

.feature-content {
    flex: 1;
    margin: 70px;
}

.feature h3 {
    font-size: 24px;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
}

.feature p {
    font-size: 18px;
    color: #fff;
    margin: 0;
}

.cta {
    text-align: center;
    margin-top: 60px;
}

.cta p {
    font-size: 18px;
    color: #333;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    background-color: #00B37E;
    color: #FFF;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.button:hover {
    background-color: #00875F;
}

.footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
    color: #FFF;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

.footer p {
    margin: 0;
}

.description {
    font-size: 20px;
    color: #FFF;
    margin: 70px;
}
.descriptionName{
    font-size: 16px;
    color: #FFF;
    margin: 40px;
}
.descriptionCargo{
    font-size: 16px;
    color: #ffd700;
}

.image-container {
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

.image-container>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
}

.zoom {
    overflow: visible;
    margin: 10px;
    display: inline-block;
}

.zoom img {
    border-radius: 10%;
    transition: all 0.5s;
}

.zoom:hover img {
    transform: scale(1.1);
    border-radius: 100%;
    opacity: 0.9;
}

